<h1 style="text-align: center">Data Binding in Angular</h1>
<!--So the In + PB are the one way dataBinding i.e from componet to the view-->
<!--Event binding is used to create any action in the component for example clicking a button.-->
<h1 Event Binding></h1>
<h1>{{title}}</h1>
<button (click)="changeMyTitle()">Title is changed on click of this button.</button>
<!--Now user will take any action from the template and according to that this method will invoke and execute.-->
<!--Not only click you can also use other events such as submit and mouse enter, blur events, etc.-->

